<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>VueJS Tutorials</title>
        <link href="main.css" rel="stylesheet" />
    </head>
    <body>

      <div id="app">
        <input type="text" @keyup.enter="addTask" v-model="currentTask">
        <ul>
          <li
           v-for="task in tasks"
           :class="{'strike': task.isCompleted}"
           >
           <input
           type="text"
           v-if="task.isEditing"
           @keyup.enter="editTask(task.text)"
           v-model="editValue"
           >
            <span
            v-else
            @click="task.isCompleted = !task.isCompleted"
            >{{task.text}}</span>
            <button @click="removeTask(task.text)">X</button>
            <button @click="changeEditing(task.text)">*</button>
          </li>
        </ul>
      </div>

      <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
      <script src="app.js"></script>
    </body>
</html>
